.hero_section_container {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
}

.hero_section_text_container {
  display: flex;
  flex-direction: column;
  padding: 0 1.85rem;
  gap: 1rem;
  font-size: 1.25rem;
  position: absolute;
  top: calc(100vh - 72.5vh);
}

.sliding_text_container {
  position: absolute;
  top: calc(100vh - 60vh);
  /*display: none;*/
}

.sliding_text {
  position: relative;
  white-space: nowrap;
}

.sliding_text p {
  position: relative;
  color: var(--secondary-color);
  font-size: 4rem;
  padding-right: 2rem;
  font-weight: 450;
  left: 80%;
}

.sliding_text p:nth-child(2) {
  position: absolute;
  left: 100%;
  /*top: 0;*/
}

.main_container {
  padding: 2.3rem 1.85rem;
  position: absolute;
  top: calc(100vh - 40vh);
  width: 100%;
}

/* text scroll animation */

@keyframes text_rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cta_container {
  background-color: var(--popup-color);
  border-radius: 99px;
  height: 5.625rem;
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 70%;
  transition: background-color 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.cta_container:hover {
  animation-play-state: paused;
  /*background-color: #3e53d2;*/
  background-color: rgba(24, 24, 24, 0.87);
}

/* cta button action */

.cta_arrow {
  position: absolute;
}

.cta_text {
  animation: text_rotation 10s linear infinite;
  padding: 0.5rem;
}

@media (min-width: 414px) and (max-width: 767px) {
  .hero_section_text_container {
    font-size: 1.5rem;
    top: calc(100vh - 62.5vh);
  }

  .sliding_text_container {
    top: calc(100vh - 50vh);
  }

  .main_container {
    top: calc(100vh - 30vh);
  }

  .sliding_text p {
    font-size: 7rem;
  }

  .cta_container {
    height: 6.5rem;
    width: 6.5rem;
  }

  .cta_text {
    height: 100px;
    width: 100px;
  }

  .wave {
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero_section_text_container {
    padding: 0 3.125rem;
    font-size: 2rem;
    top: calc(100vh - 62.5vh);
  }

  .text_arrow,
  .cta_arrow {
    height: 35px;
    width: 35px;
  }

  .sliding_text_container {
    top: calc(100vh - 52.5vh);
  }

  .sliding_text p {
    font-size: 7rem;
  }

  .main_container {
    top: calc(100vh - 30vh);
  }

  .cta_container {
    height: 9rem;
    width: 9rem;
  }

  .cta_text {
    height: 130px;
    width: 130px;
  }

  .wave {
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero_section_text_container {
    padding: 0 4rem;
    font-size: 1.5rem;
    top: calc(100vh - 80vh);
  }

  .sliding_text p {
    font-size: 7rem;
  }

  .sliding_text_container {
    top: calc(100vh - 67.5vh);
  }

  .main_container {
    top: calc(100vh - 32.5vh);
  }

  .cta_container {
    height: 7.5rem;
    width: 7.5rem;
  }

  .cta_text {
    height: 115px;
    width: 115px;
  }

  .wave {
    height: 100px;
  }

}

@media (min-width: 1200px) {
  .hero_section_text_container {
    padding: 0 4rem;
    font-size: 1.5rem;
    top: calc(100vh - 80vh);
  }

  .sliding_text p {
    /*font-size: 16vw;*/
    font-size: 7rem;
  }

  .sliding_text_container {
    top: calc(100vh - 67.5vh);
  }

  .main_container {
    top: calc(100vh - 32.5vh);
  }

  .cta_container {
    height: 7.5rem;
    width: 7.5rem;
    margin-left: 80%;
  }

  .cta_text {
    height: 115px;
    width: 115px;
  }

  .wave {
    height: 100px !important;
    margin-left: 0px !important;
  }
}

@media (min-width: 1920px) {
  .hero_section_text_container {
    padding: 0 7rem;
    font-size: 2rem;
  }

  .cta_container {
    height: 10rem;
    width: 10rem;
  }

  .cta_arrow {
    height: 2.5rem;
    width: 2.5rem;
  }

  .cta_text {
    height: 9rem;
    width: 9rem;
  }

  .sliding_text p {
    font-size: 8vw;
  }

  .wave {
    height: 100px !important;
    margin-left: 0px !important;
  }
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  height: 50px;
  margin-left: -30px;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}