.project_container {
  margin: 1rem 1.85rem;
  display: flex;
  flex-direction: column;
}

.project_image {
  width: 100%;
  height: 330px;
  position: relative;
  overflow: hidden;
}

.project_image,
.project_image img {
  border-radius: 10px;
}

.project_image img {
  object-fit: cover;
  transition: scale 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.project_image img:hover {
  scale: 1.1;
}

.project_content {
  margin-top: 1rem;
}

.project_content p {
  font-size: 1.25rem;
  margin-bottom: 0.8rem; /* Adjust the space below the title */
}

@media (min-width: 768px) {
  .project_container {
    margin: 2.3rem 3.125rem;
    flex-direction: row;
  }

  .project_image {
    height: 550px;
    width: 50%;
  }

  .project_content {
    width: 50%;
  }

  .project_content p {
    font-size: 1.75rem;
  }

  .project_content span {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .project_content {
    align-items: flex-end;
  }

  .project_container {
    margin: 3rem 4rem;
  }
}

@media (min-width: 1200px) {
  .project_container {
    margin: 3rem 10rem;
  }

  .project_image {
    height: 900px;
  }
}

@media (min-width: 1920px) {
  .project_content {
    margin-top: 1rem;
    padding-left: 2rem; /* Add padding to the left of the content */
  }
  .project_image {
    width: 500px;
    height: 400px;
  }
}
